{% extends "template.html.twig" %}
{% block title %} Bienvenue {% endblock %}
{% block content %}
<a href ='{{ linkHome }}'> Accueil </a>
{% if connection == false %}
<a href ='{{ linkConnection }}'> Connection </a>
<a href ='{{ linkInscription }}'> Inscription </a>
{% else %}
<a href ='{{ linkDeconnection }}'> Deconnexion </a>
<a href ='{{ linkNewRecipe }}'> Ajouter un recette</a>
{% endif %}
{% endblock %}