{% extends "template.html.twig" %}
{% block title %} Bienvenue {% endblock %}
{% block content %}
<a href ='{{ linkHome }}'> Accueil </a>
{% if session.connect is defined and session.connect == true %}

<a href ='{{ linkDeconnection }}'> Deconnexion </a>
<a href ='{{ linkNewRecipe }}'> Ajouter un recette</a>
{% else %}
<a href ='{{ linkConnection }}'> Connection </a>
<a href ='{{ linkInscription }}'> Inscription </a>

{% endif %}
{% endblock %}