{% extends "template.html.twig" %}

{% block title %} Bienvenue {% endblock %}

{% block content %}

<ul>
    {% for oneRamdomSimpleRecipe in ramdomSimpleRecipes %}
        <li><a href ='{{ link }}{{ oneRamdomSimpleRecipe.id_recette }}'>{{ oneRamdomSimpleRecipe.title }}</a></li>
    {% endfor %}
</ul>

<a href ='{{ linkNewRecipe }}'> Ajouter un recette<a>
<a href ='{{ linkConnection }}'> Connection <a>
<a href ='{{ linkInscription }}'> Inscription <a>
{% endblock %}